[Unit]
Description=TempMon Django app (Gunicorn + UNIX socket)
After=network.target

[Service]
Type=simple
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/tempmon
Environment=PATH=/home/ubuntu/tempmon/venv/bin
ExecStart=/home/ubuntu/tempmon/venv/bin/gunicorn \
    --workers 3 \
    --bind unix:/home/ubuntu/tempmon/tempmon.sock \
    tempmon.wsgi:application
Restart=on-failure

[Install]
WantedBy=multi-user.target